<h2>vam preporučuje sledeće destinacije</h2>

<ul class="list-group">
  <li class="list-group-item"><a class="link-info" href="https://deltaplanetnis.rs">Delta Planet</a> - Prvi Delta Planet
    u Srbiji, sa 40.000 m2 i 850 parking mesta, otvorio je svoja vrata na uglu Bulevara Nemanjića.
    Lokacija je savršeno povezana lokalnim saobraćajem sa svim glavnim zonama grada, u naseljenom delu šireg centra,
    i zasigurno je nova omiljena destinacija posetilaca svih uzrasta.
    Najveći šoping centar Niša dom je mnogobrojnih domaćih i inostranih brendova, a mnogi od njih se baš u Delta Planetu
    prvi put predstavljaju na tržištu.
    Svojom raznovrsnom ponudom Delta Planet će pružiti ljubiteljima šopinga uživanje u aktuelnim modnim kolekcijama, a
    raznovrsnost zabavnih sadržaja, kafića i restorana će pretvoriti svaku posetu u pravi izlazak</li>

  <li class="list-group-item"><a class="link-info" href="https://www.gu.ni.rs/o-nisu/spomenici/tvrdjava/?pismo=lat">Niška tvrđava</a> - Niška tvrđava predstavlja kompleksni spomenik kulture i najmonumentalniju urbanističku dominantu centralnog područja grada Niša. Izdiže se na desnoj obali reke Nišave i čuva prostor koji je u dvomilenijumskom periodu posedovao materijalne dokaze neprekidnog trajanja.
    Sadašnja fortifikaciona struktura turskog utvrđenja izgrađena je u prvim decenijama 18. veka, tačnije u periodu od 1719. do 1723. godine.</li>

  <li class="list-group-item"><a class="link-info" href="https://www.metropolitan.ac.rs">Univerzitet metropolitan</a> -
    Poslovno-obrazovni centar u Nišu se nalazi na atraktivnoj
    lokaciji u okviru biznis parka (industrijska zona), preko puta Arheološkog nalazišta Medijana, na adresi:
    Bulevar Svetog Cara Konstantina 80-86. Budući studenti ovde mogu da studiraju Informacione tehnologije,
    Informacione sisteme i digitalizacija, Softversko inženjerstvo, Računarske igre, Biznis i marketing i Grafički dizajn.

    Jedan od osnovnih ciljeva ovakvog obrazovanja je i razvijanje sposobnosti za timski rad radi ispunjenja zajedničkog
    cilja integracijom lične inicijative i grupne kooperacije, zatim razvijanje sposobnosti efektivne komunikacije i
    efikasnosti u radu sa klijentima, korisnicima i kolegama, kako verbalne tako i tekstualne, upotrebom odgovarajuće
    terminologije, kao i razumevanje potrebe za kontinualnim učenjem u toku čitave karijere. Univerzitet Metropolitan je
    specifičan po metodologijama koje primenjuje jer, pored sposobnosti za timski rad, razvija kreativnost i
    samostalnost u radu. Univerzitet kod studenata razvija sposobnost za inovativno mišljenje, nov pristup problemima,
    sposobnosti za integraciju i implementaciju najnovijih tehnologija i istraživački duh. Liderski karakter i visoki
    profesionalni i etički standardi su ono što tražimo od njih.</li>
</ul>
