<h2>vam nudi sledeće sobe</h2>

<table class="table-light table-bordered border-danger">
  <tr>
    <th scope="col">Naziv</th>
    <th scope="col">Broj kreveta za odrasle</th>
    <th scope="col">Broj kreveta za decu</th>
    <th scope="col">Jedinice</th>
    <th scope="col">Kvadratnih metra</th>
    <th scope="col">Opis</th>
    <th scope="col">Dodatna oprema</th>
    <th scope="col">Broj noci</th>
    <th></th>
  </tr>
  <tr *ngFor="let soba of sobe">
    <td>{{soba.naziv}}</td>
    <td>{{soba.brojKrevetaZaOdrasle}}</td>
    <td>{{soba.brojKrevetaZaDecu}}</td>
    <td>{{soba.jedinice}}</td>
    <td>{{soba.kvadratniMetri}}m<sup>2</sup></td>
    <td>{{soba.opis}}</td>
    <td>
<!--      <ul class="list-group list-group-flush" *ngFor="let oprema of soba.dodatneOpcije">-->
<!--        <li class="list-group-item" *ngIf="oprema.selected">{{oprema.name}}</li>-->
<!--      </ul>-->
    </td>
    <td><input class="form-control" id="numberOfNights" name="numberOfNights" value="1" type="number" min="1" max="30" #numberOfNights></td>
    <td><button class="btn btn-success" (click)="reservisiSobu(soba, numberOfNights.value)">Rezervisi sobu</button></td>
  </tr>
</table>
